language: node_js
env:
  global:
    secure: "WZ9ucl7SNpt/qG26/QeBXh9/Y2aJW2hvL5jp6UbLSqMhyZH2/EhGwT5kPgQh9DE2kiae76BsBqgWquBA8NrPXWHExvpwlVTI5BhEjlaUi95+KVjDfDUBx0YX1Gj9yLiy89d2m7+SyO8bfYwwsn9B+nEQBUpstLu9s3AKng5PLMcnh0LuNm1JtOV3uTLTpvTgFexqaCpZEg9fZPI1FfnTDs7gkQC2q8bVDwXhTuAI3440JAswaEqOTwmMqXFO0zWbrVLYWXzARnN4LLJ/gTZ8i2CcYHRiCsU0Mb2xOeMr2cgevo59zL4FtgnsT5cwn4aJBalZYhsl09I7BfrzOmI/fQk71aJrKNFCwPuegxYeI7EU1QHR+IT03aQPlVVxlK5VreL/NZmsIbnk+Zti9HNsXokqxKbud1W1qSaA3WL6J/5+atKZVUVGWn0LpVusV3sHhM9+ph2MeMnhbrQcxzpzUGFdoqqXjl5XyvYIJMsrXiQDmzgGyOz9oQsa9sOGsVwHk0lFolcmwsBNNYT1Nm23gMRqWevtz0rtPi+0APhBk9kJ+XwKD72jz+8nD9rFKYVwYWOE24yhpPvgxcHcMOutRFh5yvgEapB8z9iCKgumt3v8mbg94gLrcI2tuCLpFD8f661fINPyx3BqrN4YU8g9vzR5AP6Zbokl49UuuseGSx0="
node_js:
  - 9
before_script:
  - npm install
script:
  - npm run deploy
cache:
  directories:
    - "node_modules"
after_success:
  - |

       declare -r SSH_FILE="$(mktemp -u $HOME/.ssh/XXXXX)"

       # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

       # Decrypt the file containing the private key
       # (Note: this is the same as what is generated by the Travis CLI at step 2.5)

       openssl aes-256-cbc \
         -K $encrypted_b18ea084f432_key \
         -iv $encrypted_b18ea084f432_iv \
         -in ".travis/github_deploy_key.enc" \
         -out "$SSH_FILE" -d

       # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

       # Enable SSH authentication

       chmod 600 "$SSH_FILE" \
         && printf "%s\n" \
              "Host github.com" \
              "  IdentityFile $SSH_FILE" \
              "  LogLevel ERROR" >> ~/.ssh/config
